* {
    box-sizing: border-box;
  }

/* Basic Styles  */
body {
    font-family: "Open Sans", sans-serif; 
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    padding-top: 50px;
}

.logo {
    position: absolute;
    top: -18px;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: #bbb;
}
  
header {
    padding: 12% 0;
}

.container {
    margin: 100px 25%;
    background-color: #bbb;
}
  
section {
    min-height: 50px;
    padding: 6% 0;
    margin: 0 auto;
}
  
section:nth-child(even) {
    
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #bbb;
}

/* Hamburger Menu */
nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 1%;
}
  
.hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #444;
    border-bottom: 0.2em solid #444;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.1em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #444;
}

/* Media Queries */

@media only screen and (min-device-width : 375px) and (max-device-width : 812px) {
    body {
        font-size: 18px;
    }

    .container {
        margin: 75px 10%;
    }

    section {
        font-size: 16px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .container {
       margin: 100px 25%;
    }
}